h4{
  color: #0396A6;
  font-size: 20px;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
}

#cadastro{
  margin-left: 4em;
}

h2{
  margin-bottom: 1em;
}

.borda input{
  box-shadow: 0px 4px 10px #D9D9D9;
  border-left: 1px solid #03BFC0;
  border-right: 1px solid #03BFC0;
  border-bottom: none;
  border-top: none;
  width: 364px;
  height: 20px;
  margin-bottom: 1em;
  border-radius: 6px;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 16px;
  outline: none;
  padding: 10px;
  
}

.botao input{
  width: 315px;
}

#checkbox{
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  border-color: #03BFC0;
  margin-top: 10px;
}
