p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Assistant', sans-serif;
}

.dados{
  box-shadow: 0px 4px 10px #D9D9D9;
  border-left: 1px solid #03BFC0;
  border-right: 1px solid #03BFC0;
  border-bottom: none;
  border-top: none;
  width: 364px;
  margin-bottom: 1em;
  border-radius: 6px;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  outline: none;
  padding: 10px;
}
