section#deletar{
  background-color: #E9E4D8;
  width: 800px;
  height: fit-content;
  padding: 3em 0;
  margin: 0 auto;
  position: fixed;
  visibility: hidden;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#deletar form{
  height: fit-content;
  padding: 2em 5em;
  background-image: url(../imagens/produto/bg-form-denuncia.png);
  background-size: cover;
  margin: 0 auto;
  width: 85%;
}
input[type="checkbox"]{
  position: relative;
  -webkit-appearance: none;
  border: 2px solid #F23869;
   cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#deletar label{
    font-size: 16px;
    display: flex;
    align-items: center;
  margin: 0 20px 20px 0;
}
input[type=checkbox]:checked:after {
   content: "";
   width: 5px;
   height: 10px;
   border: solid black;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   position: absolute;
   top: 2px;
   left: 6px;
}
#deletar #botao2{
  background-color: transparent;
  font-family: "calibri";
  color: #F2541B;
}
#deletar h2{
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif;
  color: #F2541B;
}
textarea{
  padding: 1em;
    background-color: transparent;
    border: 3px solid #F23869;
    width: 100%;
  height: 150px;
    color: black;
    font-size: 16px;
}
textarea:focus{
  outline: none;
}
#denuncia #razoes{
  display: flex;
  flex-wrap: wrap;
}
#comentario-label{
  margin: 20px 0;
}
#denuncia-textarea{
  margin: 20px 0;
}
#denuncia .botao{
  width: fit-content;
  margin: 0 auto;
}
#denuncia #titulo-denuncia{
  display: flex;
  margin: 0 auto 25px auto;
  width: 90%;
  justify-content: space-between;
}
#denuncia #titulo-denuncia p a{
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif;
  color: #F2541B;
}
div#esmaecer{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    visibility: hidden;
}
